### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [ ]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt','w') as f:
    f.write(test1)
    print("test.txt file is created and content is added")

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [ ]:
with open('test.txt','r') as f:
    test2 = f.read()
    print(test2)
# Ans: content is same but their individual address are different

### 3. Create a CSV file called books.csv by using these lines:

In [ ]:
import csv

nested_list = [['title','author','year'],['The Weirdstone of Brisingamen','Alan Garner',1960],['Perdido Street Station','China Mi√©ville',2000],['Thud!','Terry Pratchett',2005],['The Spellman Files','Lisa Lutz',2007],['Small Gods','Terry Pratchett',1992]]

with open('books.csv','w') as csvfile:
    csvwriter = csv.writer(csvfile) 
    csvwriter.writerows(nested_list)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3

con = sqlite3.connect("books.db")
cur = con.cursor()

cur.execute("CREATE TABLE books(title VARCHAR(50), author VARCHAR(10), year INTEGER)")
con.commit()
con.close()

### 5. Read books.csv and insert its data into the book table.

In [ ]:
import csv
import sqlite3

con = sqlite3.connect("books.db")
cur = con.cursor()

with open('books.csv','r') as file:
    csvreader = csv.reader(file, delimiter=',')
    next(csvreader)
    for i in csvreader:
        row = "INSERT INTO books VALUES ('%s','%s',%d)" %(i[0],i[1],int(i[2]))
        cur.execute(row)
        con.commit()
con.close()

### 6. Select and print the title column from the book table in alphabetical order.

In [ ]:
import csv
import sqlite3

con = sqlite3.connect("books.db")
cur = con.cursor()

cur.execute('SELECT title from books')
title_list = sorted([i[0] for i in cur])

for i in title_list:
    print(i)

### 7. From the book table, select and print all columns in the order of publication.

In [ ]:
import csv
import sqlite3

con = sqlite3.connect("books.db")
cur = con.cursor()

cur.execute('SELECT * from books')

for i in cur:
    print(i)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
import sqlalchemy as db

engine = db.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
pip install redis

In [ ]:
import redis

r = redis.Redis(host='localhost', port=6379, db=0)
r.delete('test')

result = r.hmset("test", {
  "count": 1,
  "name": 'Fester Bestertester'
})
r.hgetall("test")

### 10. Increment the count field of test and print it.

In [ ]:
r.hincrby("test","count",1)